{% extends "base.html" %}
{% block content %}

<div id="loading">
</div>
<div class="container-fluid panel panel-success">
<div class="panel-heading"><span>Analyse</span></div>

<div class="row panel-body" style="margin:0">
    <div class="col-xs-12 col-md-6 col-lg-6">
        <div class="col-xs-12 col-md-12 col-lg-12 panel panel-primary">
            <div class="panel-heading" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Répartition des Supers Héros entre les tweets et les descriptions</div>
            <div class="panel-body">
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <div id="partchart"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-6">
        <div class="col-xs-12 col-md-12 col-lg-12 panel panel-primary">
            <div class="panel-heading" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Héros les plus cités dans les tweets</div>
            <div class="panel-body">
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <div id="popchart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="col-xs-12 col-md-12 col-lg-12 panel panel-primary">
            <div class="panel-heading" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Pays tweetant le plus à propos des supers héros</div>
            <div class="panel-body">
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <div id="mapchartbycountry"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="col-xs-12 col-md-12 col-lg-12 panel panel-primary">
            <div class="panel-heading" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Répartition des tweets par support</div>
            <div class="panel-body">
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <div id="supportchart"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-8 col-lg-8">
        <div class="col-xs-12 col-md-12 col-lg-12 panel panel-primary">
            <div class="panel-heading" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Répartition des supports par héros</div>
            <div class="panel-body">
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <div id="supportdetailchart"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="col-xs-12 col-md-12 col-lg-12 panel panel-primary">
            <div class="panel-heading" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Popularité des héros les plus tweetés par pays</div>
            <div class="panel-body">
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <div id="mapchartbycountrybyheroes"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="col-xs-12 col-md-12 col-lg-12 panel panel-primary">
            <div class="panel-heading" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Répartition des tweets favoris et retweetés par héros</div>
            <div class="panel-body">
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <div id="barchartfavrt"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}